{% extends 'base.jinja2' %}

{% block subtitle %}Donations Filter{% endblock subtitle %}

{% block content %}
	<form method="POST">
        {% if error %}<p>{{ error }}</p>{% endif %}
		<label for="donor-name">Donor Name To Filter By: </label><input type="text" id="donor-name" name="name"><br>
		<input type="submit" value="Filter">
	</form>
{% endblock content %}
